[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.1"
rx = ">=3.0"
kafka-python = ">=1.4"

[dev-packages]
pep8 = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"
ipdb = "*"

[requires]
python_version = "3.7.1"
